<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/src/style.css' />
     </head>
  <body>
    <h1>Sennen Sunset</h1>
    <div id='background'>
    
<div id='divlat'><p id='lat'></p></div>
    
<div id='divlong'><p id='long'></p></div>

<div id='divtimezone'><p id='timezone'></p></div>

</div>


<script src="src/controller/controller.js"></script>
<script src="/src/index.js"></script>

  </body>
</html>
